<div id="ask-div" class="inviso">
    <div class="align-l"><button id="cancelQuestion" class="button-round-sm magenta-gradient box-shade-sm"><i class="fas fa-times "></i></button></div>
    <form id="composeReview" name="composeReview" action="/" method="post">
        <div class="centered">
        <p class="text-md">Ask</p>
    </div>
    <div class="row">
        <div class="col-6">
        <input id="askName" class="w-100 questionInput" name="questionerName" type="text" placeholder="Your Name" required="true" >
    </div>
    <div class="col-6">
        <input id="askEmail" class="w-100 questionInput" name="questionerEmail" type="text" placeholder="Your Email" required="true" >
    </div>

        <div class="col-12">
         <input id="questionText" class="w-100 questionInput" name="questionText" type="textArea" placeholder="Your Question" required="true">
         </div>
    </div>
    <button id="submit-q" name="submit" class="button-round box-shade-sm azure white"><i class="fas fa-paper-plane"></i></button>
    </form>
    
</div>