
<div id="" class=" side-border centered-div">
  
<div id="starline" class="relative hvr-grow">
 
    <div class="beyondSlate absolute star-row">
     <i class="fas fa-star star-sm"></i>
     <i class="fas fa-star star-sm"></i>
     <i class="fas fa-star star-sm"></i>
     <i class="fas fa-star star-sm"></i>
     <i class="fas fa-star star-sm"></i>
     
    </div>
    
   <div class="rating-bar inline-block absolute azure box-shade-sm"></div>
  
   <p class="text-sm align-r beyondSlate">(2928)</p>
 </div>
 
 <div id="starline" class="relative hvr-grow">
 
   <div class="beyondSlate absolute star-row">
    <i class="fas fa-star star-sm"></i>
    <i class="fas fa-star star-sm"></i>
    <i class="fas fa-star star-sm"></i>
    <i class="fas fa-star star-sm"></i>
    <i class="far fa-star star-sm"></i>
    
   </div>
   
  <div class="rating-bar inline-block absolute fourstar box-shade-sm"></div>
 
  <p class="text-sm align-r beyondSlate">(229)</p>
</div>

<div id="starline" class="relative hvr-grow">
 
   <div class="beyondSlate absolute star-row">
    <i class="fas fa-star star-sm"></i>
    <i class="fas fa-star star-sm"></i>
    <i class="fas fa-star star-sm"></i>
    <i class="far fa-star star-sm"></i>
    <i class="far fa-star star-sm"></i>
    
   </div>
   
  <div class="rating-bar inline-block absolute threestar box-shade-sm"></div>
 
  <p class="text-sm align-r beyondSlate">(50)</p>
</div>

<div id="starline" class="relative hvr-grow">
 
   <div class="beyondSlate absolute star-row">
    <i class="fas fa-star star-sm"></i>
    <i class="fas fa-star star-sm"></i>
    <i class="far fa-star star-sm"></i>
    <i class="far fa-star star-sm"></i>
    <i class="far fa-star star-sm"></i>
    
   </div>
   
  <div class="rating-bar inline-block absolute gray-bar box-shade-sm"></div>
 
  <p class="text-sm align-r beyondSlate">(5)</p>
</div>

<div id="starline" class="relative hvr-grow">
 
   <div class="beyondSlate absolute star-row">
    <i class="fas fa-star star-sm"></i>
    <i class="far fa-star star-sm"></i>
    <i class="far fa-star star-sm"></i>
    <i class="far fa-star star-sm"></i>
    <i class="far fa-star star-sm"></i>
    
   </div>
   
  <div class="rating-bar inline-block absolute gray-bar box-shade-sm"></div>
 
  <p class="text-sm align-r beyondSlate">(7)</p>
</div>
</div>